@function pxToRem($value) {
	@return calc($value / 16) + rem;
}

@mixin isFlexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin isFlexCenterColumn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@mixin isFlexCenterDynamicAxios($justify-content: center, $align-items: center, $flex-direction: row){
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
}

@mixin isFlexCenterDynamicContent($justify-content: center, $flex-direction: row){
  display: flex;
  justify-content: $justify-content;
  align-items: center;
  flex-direction: $flex-direction;
}

@mixin isFlexCenterDynamicItems($align-items, $flex-direction: row){
  display: flex;
  justify-content: center;
  align-items: $align-items;
  flex-direction: $flex-direction;
}

@mixin max-vh-w-100 {
  min-height: 100vh;
  height: 100%;
  width: 100%;
}